<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.chordlibre.chordsheet</string>
			<key>UTTypeDescription</key>
			<string>ChordLibre Chordsheet</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>chordlibre</string>
				</array>
				<key>public.mime-type</key>
				<string>application/json</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.chordlibre.setlist</string>
			<key>UTTypeDescription</key>
			<string>ChordLibre Setlist</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.folder</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>chordlibresetlist</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ChordLibre Chordsheet</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.chordlibre.chordsheet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ChordLibre Setlist</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.chordlibre.setlist</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.chordlibre.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chordlibre</string>
			</array>
		</dict>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
</dict>
</plist>
